/**/
body,html{
    height:100%;
    width: 100%;
    position: relative;
}
.sidebar{
    background-color: #424a5d;
    float: left;
    height: 100%;
    width: 220px;
}
.sidebar .list-group{
}
.sidebar .list-group-item,
.sidebar .list-group-item:active,
.sidebar .list-group-item:focus{
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: #aeb2b7;
    padding: 20px 30px;
    transition: all .3s linear;
    text-align: center;
}
.sidebar .list-group-item:hover{
    background-color: #68dff0;
    color: #FFF;
}
.sidebar .list-group-item.active{
    background-color: #68dff0;
    color: #FFF;
}
.operate-bar{

}
.main-content{
    background-color: #f8f8f8;
    height: 100%;
    padding-left: 220px;
    width: 100%;
    overflow-y: visible;
}
.main-content .panel-default{
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}
.main-content .panel-heading{
    border-radius: 0;
    padding: 20px 30px;
}
.main-content .panel-body{
    box-sizing: border-box;
    padding: 20px 30px 0 30px;
}
.main-content .operate-bar{
    margin-bottom: 20px;
    height: 40px;
    line-height: 40px;
}
.main-content .operate-bar:after{
    display: block;
    content: " ";
    clear: both;
}
.main-content .form-horizontal{
    width: 40%;
    height: 80%;
    overflow: hidden;
}
.main-content .pagination a,
.main-content .pagination a:active,
.main-content .pagination a:visited,
.main-content .pagination a:focus,
.main-content .pagination a:hover{
    border: 1px solid #337ab7;
    background-color: #FFF;
}
.main-content .pagination a.active{
    background-color: #337ab7;
    color: #FFF;
}
.main-loading{
    text-align: center;
    background-color: #FFF;
}
.main-loading img{
    display: block;
    max-width: 300px;
    margin: 0 auto;
}
.main-show{
    display: none;
}
@keyframes loading {
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.5,1.5);
    }
    100%{
        transform: scale(1,1);
    }
}
.card{
    margin-right: -15px;
    margin-left: -15px;
}
.card:after{
    display: block;
    content: ' ';
    clear: both;
}
.card .card-item{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3333333%;
    margin-bottom: 30px;
}
.card-item .panel-body{
    padding: 20px 30px;
}
.card-delete{
    cursor: pointer;
}