/**/
body,html{
    height:100%;
    width: 100%;
    position: relative;
}
.sidebar{
    background-color: #424a5d;
    float: left;
    height: 100%;
    width: 220px;
}
.sidebar .list-group{
}
.sidebar .list-group-item{
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: #aeb2b7;
    padding: 20px 30px;
    transition: all .3s linear;
    text-align: center;
}
.sidebar .list-group-item:hover{
    background-color: #68dff0;
    color: #FFF;
}
.operate-bar{

}
.main-content{
    background-color: #f8f8f8;
    height: 100%;
    padding-left: 220px;
    width: 100%;
}
.main-content .pnael{
    border-radius: 0;
}
.main-content .panel-heading{
    border-radius: 0;
    padding: 20px 30px;
}
.main-content .panel-body{
    box-sizing: border-box;
    padding: 20px 30px 0 30px;
}
