<div>
    <form class="main-form" id="addRegulatory">
        <div class="form-group">
            <label for="regulatoryName">名称</label>
            <input type="text" name="name" class="form-control" id="regulatoryName" placeholder="请输入名称">
        </div>
        <div class="form-group">
            <label for="regulatoryPhone">电话</label>
            <input type="text" name="phone" class="form-control" id="regulatoryPhone" placeholder="请输入电话">
        </div>
        <div class="form-group">
            <label for="regulatoryAddress">地址</label>
            <input type="text" name="address"  class="form-control" id="regulatoryAddress" placeholder="请输入地址">
        </div>
        <div class="btn-group pull-right">
            <a href="{:url('regulatory/index')}" class="btn btn-danger">
                <span class="fa fa-undo"></span> 取消
            </a>
            <a href="javascript:;" data-url="{:url('regulatory/add')}" data-redirect="{:url('regulatory/index')}" data-form="addRegulatory" class="btn btn-success btn-add">
                <span class="fa fa-thumbs-up"></span> 确认
            </a>
        </div>
    </form>

</div>