<div>
    <form class="main-form" id="editBank">
        <div class="form-group">
            <label for="bankName">名称</label>
            <input type="text" value="{$data.name}" name="name" class="form-control" id="bankName" placeholder="请输入名称">
        </div>
        <div class="form-group">
            <label for="bankPhone">电话</label>
            <input type="text" value="{$data.phone}" name="phone"  class="form-control" id="bankPhone" placeholder="请输入电话">
        </div>
        <div class="form-group">
            <label for="bankAddress">地址</label>
            <input type="text" value="{$data.address}" name="address"  class="form-control" id="bankAddress" placeholder="请输入地址">
        </div>
        <div class="form-group">
            <label for="bankAdmin">管理员</label>
            <select class="form-control form-select" name="admin_id" id="bankAdmin">
                {foreach name="admin" item="i"}
                <option value="{$i.id}" {eq name="$data.admin_id" value="$i.id"}selected{/eq}>{$i.user_name}</option>
                {/foreach}
            </select>
            <input type="hidden" class="form-select-content" value="{$data.admin_name}" name="admin_name">
        </div>

        <div class="btn-group pull-right">
            <a href="{:url('bank/index')}" class="btn btn-danger">
                <span class="fa fa-undo"></span> 取消
            </a>
            <a href="javascript:;" data-id="{$data.id}" data-url="{:url('bank/update')}" data-redirect="{:url('bank/index')}" data-form="editBank" class="btn btn-success btn-edit">
                <span class="fa fa-thumbs-up"></span> 确认
            </a>
        </div>
    </form>

</div>