.navbar{
    background-color: #393D49;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.clearfix:after{
    display: table;
    content: ' ';
    clear: both;
}
.text-center{
    text-align: center;
}
.login{
    width: 100%;
    height: 100%;
    background: url("../images/login_bg.jpg") no-repeat 100% 100%;
    position: relative;
}
.login-box{
    position: absolute;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .4);
    top: 200px;
    right: 200px;
    box-sizing: border-box;
    padding: 30px;
}
.login-heading{
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}
.login-box form{
    padding: 30px;
}
.login-box input{
    padding: 25px 10px;
    background-color: rgba(0, 0, 0, .7);
    color: #FFFFFF;
}
.login-box .form-group{
    margin-bottom: 30px;
}
.login-box .btn{
    font-size: 18px;
}
.toast{
    padding: 10px 25px 10px 15px;
    position: absolute;
    right: 20px;
    top: 20px;
    min-width: 300px;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all .25s;
    transform: translate(120%);
    opacity: 0;
}
.toast.in{
    opacity: 1;

}
.toast.show{
    transform: translate(0);
}
.toast .fa{
    color: inherit;
    position: absolute;
    right: 10px;
    top: 13px;
}
.toast .fa:active,
.toast .fa:hover,
.toast .fa:focus,
.toast .fa:visited{
    text-decoration: none;
}
.toast p{
    margin-bottom: 0;
}
.toast.error{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.toast.success{
    background-color: #dff0d8;
    border-color: #5cb85c;
    color: #3c763d;
}
.f-banner{
    height: 280px;
    padding: 40px 0;
}
.f-main-box{
    margin-top: 25px;
}
.f-intro-box{
    padding-right: 160px;
    padding-top: 46px;
}
.f-intro-box .f-intro-title{
    font-size: 48px;
    font-weight: 700;
    display: inline-block;
    width: 160px;
}
.f-intro-box .f-intro-content{
    line-height: 30px;
}
.f-carousel{
    width: 665px;
}
.f-prod-type-bar{
    border: 1px solid #E6E6E6;
    line-height: 52px;
    padding: 0 20px;
}
.f-prod-type-bar span{
    margin-right: 20px;
}
.f-prod-type-bar a{
    padding: 5px 10px;
}
.f-prod-type-bar a.active{
    background-color: #EA544A;
    border-radius: 4px;
    color: #FFF;
}
.f-prod-info-box{
    padding: 20px 0;
}
.f-prod-info-box h3{
    font-size: 18px;
    font-weight: bold;
    color: #5e5e5e;
    margin-bottom: 20px;
}
.f-main-left{
    padding-right: 10px;
}
.f-main-right{
    padding-left: 50px;
}
.f-main-right-title{
    font-size: 18px;
    color: #5e5e5e;
    font-weight: bold;
    margin-bottom: 20px;
}
.f-carousel-box-left{
    width: 400px;
    height: 100%;
    background-color: #FFF;
    padding: 20px 40px 0 40px;
    box-sizing: border-box;
}
.f-carousel-box-left h3{
    color: #5E5E5E;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.f-carousel-box-left h4{
    color: #5E5E5E;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.f-carousel-box-left p{
    color: #5E5E5E;
    font-size: 14px;
}
.f-carousel-box-right{
    width: 265px;
    height: 100%;
    text-align: center;
    padding-top: 40px;
    box-sizing: border-box;
}
.f-carousel-box-right h2{
    font-size: 18px;
    margin-bottom: 40px;
    color: #EA544A;
}
.f-carousel-box-right .layui-btn{
    font-size: 18px;
    font-weight: 700;
    padding: 10px 64px 12px;
    height: auto;
    line-height: normal;
}
.f-carousel-box-right .f-prod-amount{
    margin-bottom: 20px;
}
.f-prod-amount-box{
    padding: 20px 0 10px 0;
}
.f-prod-amount{
    color: #EA544A;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.f-prod-amount span{
    font-size: 40px;
}