.navbar{
    background-color: #393D49;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.clearfix:after{
    display: table;
    content: ' ';
    clear: both;
}
.text-center{
    text-align: center;
}
.login{
    width: 100%;
    height: 100%;
    /*background: url("../images/login_bg.jpg") no-repeat;*/
    background-size: cover;
    position: relative;
    overflow: visible;
    background-size: 100% 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}
.login-box{
    width: 350px;
    background-color: rgba(0, 0, 0, .4);
    margin: auto;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 80px;
}
.login-heading{
    font-size: 20px;
    text-align: center;
    color: #666;
    margin: 0 0 50px 0;
}
.login-box .login-btn{
    text-align: right;
}
.to-register{
    color: #FFF;
}
.login-box input{
    padding: 25px 10px;
    background-color: rgba(0, 0, 0, .7);
    color: #FFFFFF;
}
.login-box .form-group{
    margin-bottom: 30px;
}
.login-box .btn{
    font-size: 18px;
}
.login-footer{
    margin-top: 20px;
    text-align: center;
}
.to-register:hover{
    color: #CCC;
    text-decoration: underline;
}
.f-banner{
    height: 280px;
    padding: 40px 0;
}
.f-main-box{
    margin-top: 25px;
    padding-bottom: 25px;
    min-height: 800px;
}
.f-intro-box{
    padding-right: 160px;
    padding-top: 46px;
}
.f-intro-box .f-intro-title{
    font-size: 48px;
    font-weight: 700;
    display: inline-block;
    width: 160px;
}
.f-intro-box .f-intro-content{
    line-height: 30px;
}
.f-carousel{
    width: 665px;
}
.f-prod-type-bar{
    border: 1px solid #E6E6E6;
    line-height: 52px;
    padding: 0 20px;
}
.f-prod-type-bar span{
    margin-right: 20px;
}
.f-prod-type-bar a{
    padding: 5px 10px;
}
.f-prod-type-bar a.active{
    background-color: #EA544A;
    border-radius: 4px;
    color: #FFF;
}
.f-prod-info-box{
    padding: 20px 0;
}
.f-prod-info-box h3{
    font-size: 18px;
    font-weight: bold;
    color: #5e5e5e;
    margin-bottom: 20px;
}
.f-main-left{
    padding-right: 10px;
}
.f-main-right{
    padding-left: 50px;
}
.f-main-right-title{
    font-size: 18px;
    color: #5e5e5e;
    font-weight: bold;
    margin-bottom: 20px;
}
.f-carousel-box-left{
    width: 400px;
    height: 100%;
    background-color: #FFF;
    padding: 20px 40px 0 40px;
    box-sizing: border-box;
}
.f-carousel-box-left h3{
    color: #5E5E5E;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.f-carousel-box-left h4{
    color: #5E5E5E;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}
.f-carousel-box-left p{
    color: #5E5E5E;
    font-size: 14px;
}
.f-carousel-box-right{
    width: 265px;
    height: 100%;
    text-align: center;
    padding-top: 40px;
    box-sizing: border-box;
}
.f-carousel-box-right h2{
    font-size: 18px;
    margin-bottom: 40px;
    color: #EA544A;
}
.f-carousel-box-right .layui-btn{
    font-size: 18px;
    font-weight: 700;
    padding: 10px 64px 12px;
    height: auto;
    line-height: normal;
}
.f-carousel-box-right .f-prod-amount{
    margin-bottom: 20px;
}
.f-prod-amount-box{
    padding: 20px 0 10px 0;
}
.f-prod-amount{
    color: #EA544A;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.f-prod-amount span{
    font-size: 40px;
}
.f-page{
    text-align: right;
}
.f-page a,
.f-page span{
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    border: 1px solid #C9C9C9;
    background-color: #fff;
    color: #555;
    display: inline-block;
    margin-left: 5px;
}
.f-page .layui-laypage-curr{
    background-color: #009688;
    color: #fff;
}
.f-nav-tree{
    width: 100%;
    color: #393D49;
}
.f-header-box{
    border: 1px solid #EEE;
}
.f-slide-main{
    padding-left: 30px;
}
.f-panel{
    border: 1px solid #EEE;
}
.f-header-box{
    padding: 30px;
    text-align: center;
}
.f-header-box img{
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.f-panel{
    padding: 30px;
}
.f-panel-header{
    font-size: 18px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #EEE;
}
.f-goods-box{
    border: 1px solid #EEE;
    margin-top: 30px;
    background-color: #FFF;
    position: relative;
}
.f-goods-pic{
    width: 100%;
    height: 350px;
    padding: 10px;
    box-sizing: border-box;
}
.f-goods-pic img{
    display: block;
    width: 100%;
    height: 100%;
}
.f-goods-info{
    padding: 10px 30px 10px 10px;
    height: 100%;
    box-sizing: border-box;
}
.f-goods-info h3{
    font-size: 18px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EEE;
    padding-bottom: 20px;
}
.f-goods-info p{
    color: #a5a5a5;
}
.f-goods-tips{
    padding-top: 20px;

}
.f-goods-label{
    color: #a5a5a5;
    margin-right: 20px;
}
.f-goods-promt{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid #ea544a;
    min-width: 68px;
    font-size: 12px;
}
.f-company-info{
    margin-top: 30px;
    padding: 20px;
    color: #a5a5a5;
    font-size: 12px;
}
.f-goods-buy{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 30px;
    background-color: #ea544a;
    text-align: center;
    color: #FFF;
    position: absolute;
    bottom: -128px;
}
.f-goods-buy:hover{
    background-color: #EA2817;
    color: #FFF;
}

@font-face {
    font-family: 'iconfont';  /* project id 495596 */
    src: url('//at.alicdn.com/t/font_495596_w3vvaepff2w6d2t9.eot');
    src: url('//at.alicdn.com/t/font_495596_w3vvaepff2w6d2t9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_495596_w3vvaepff2w6d2t9.woff') format('woff'),
    url('//at.alicdn.com/t/font_495596_w3vvaepff2w6d2t9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_495596_w3vvaepff2w6d2t9.svg#iconfont') format('svg');
}

.icon{
    font-family:"iconfont" !important;
    font-size: inherit;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-alipay:before{
    content: '\e621';
}

.icon-weChat:before{
    content: '\e61b';
}

.icon-card:before{
    content: '\e619';
}