<div class="row">
  <div class="col-lg-3">
      <a href="">
          <div class="panel panel-default">
              <div class="panel-heading">放证审核</div>
              <div class="panel-body">
                  <span class="fa fa-"></span>
              </div>
          </div>
      </a>
  </div>
  <div class="col-lg-3">
      <div class="panel panel-default">
          <div class="panel-heading">待处理审核</div>
          <div class="panel-body">
              65
          </div>
      </div>
  </div>
  <div class="col-lg-3">
      <div class="panel panel-default">
          <div class="panel-heading">待处理审核</div>
          <div class="panel-body">
              Panel content
          </div>
      </div>
  </div>
  <div class="col-lg-3">
      <div class="panel panel-default">
          <div class="panel-heading">待处理审核</div>
          <div class="panel-body">
              Panel content
          </div>
      </div>
  </div>
</div>