<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>保险网销系统</title>
    <link rel="stylesheet" href="__ROOT__/static/css/layui.css">
    <link rel="stylesheet" href="__ROOT__/static/css/main.css">
</head>
<body>
    <div class="navbar">
        <div class="layui-main">
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item"  id="Nav_Car"><a href="{:url('car/index')}">车险</a></li>
                <li class="layui-nav-item"  id="Nav_Accident"><a href="{:url('accident/index')}">意外</a></li>
                <li class="layui-nav-item"  id="Nav_Travel"><a href="{:url('travel/index')}">旅行</a></li>
                <li class="layui-nav-item"  id="Nav_Health"><a href="{:url('health/index')}">健康</a></li>
                <li class="layui-nav-item"  id="Nav_Assets"><a href="{:url('assets/index')}">财产</a></li>
                <li class="layui-nav-item"  id="Nav_Life"><a href="{:url('life/index')}">人寿</a></li>
                <li class="layui-nav-item pull-right">
                    <a href="javascript:;">个人中心</a>
                    <dl class="layui-nav-child"> <!-- 二级菜单 -->
                        <dd><a href="">我的保单</a></dd>
                        <dd><a href="">后台模版</a></dd>
                        <dd><a href="">电商平台</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    {__CONTENT__}
    <script src="__ROOT__/static/js/jquery-3.2.1.min.js"></script>
    <script src="__ROOT__/static/layui.all.js"></script>
    <script>
        $('#Nav_{$Request.controller}').addClass('layui-this');
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
            var element = layui.element;
        });
        layui.use('carousel', function(){
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '.f-carousel'
                ,width: '100%' //设置容器宽度
                ,arrow: 'always' //始终显示箭头
                //,anim: 'updown' //切换动画方式
            });
        });
    </script>
</body>
</html>