<div class="layui-main f-banner">
    <div class="layui-row">
        <div class="layui-col-lg2">
            <div class="f-header-box">
                <img src="__ROOT__/static/images/user_header.png" alt="">
                <p>abczzz</p>
            </div>
            <ul class="layui-nav layui-nav-tree f-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-this"><a href="{:url('mine/index')}">我的账户</a></li>
                <li class="layui-nav-item"><a href="{:url('mine/order')}">我的保单</a></li>
            </ul>
        </div>
        <div class="layui-col-lg10 f-slide-main">
            <div class="f-panel">
                <div class="f-panel-header">账户余额</div>
                <div class="f-panel-body">
                    <ul>
                        <li>￥{$info.wealth}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>