<div class="layui-main f-banner">
    <div class="layui-row">
        <div class="layui-col-lg2">
            <div class="f-header-box">
                <img src="__ROOT__/static/images/user_header.png" alt="">
                <p>abczzz</p>
            </div>
            <ul class="layui-nav layui-nav-tree f-nav-tree" lay-filter="test">
                <li class="layui-nav-item"><a href="{:url('mine/index')}">我的账户</a></li>
                <li class="layui-nav-item"><a href="{:url('mine/order')}">我的保单</a></li>
                <li class="layui-nav-item layui-this"><a href="{:url('mine/message')}">消息动态</a></li>
            </ul>
        </div>
        <div class="layui-col-lg10 f-slide-main">
            <div class="f-panel">
                <div class="f-panel-header">消息列表</div>
                <div class="f-panel-body">
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>消息内容</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>11</td>
                            <td>22</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>