<div class="layui-main f-banner">
    <div class="layui-row">
        <div class="layui-col-lg2">
            <div class="f-header-box">
                <img src="__ROOT__/static/images/user_header.png" alt="">
                <p>abczzz</p>
            </div>
            <ul class="layui-nav layui-nav-tree f-nav-tree" lay-filter="test">
                <li class="layui-nav-item"><a href="{:url('mine/index')}">我的账户</a></li>
                <li class="layui-nav-item layui-this"><a href="{:url('mine/order')}">我的保单</a></li>
            </ul>
        </div>
        <div class="layui-col-lg10 f-slide-main">
            <div class="f-panel">
                <div class="f-panel-header">我的保单</div>
                <div class="f-panel-body">
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>保单号</th>
                            <th>产品</th>
                            <th>分类</th>
                            <th>公司</th>
                            <th>保额(万元)</th>
                        </tr>
                        </thead>
                        <tbody>
                            {foreach name='order' item='i'}
                                <tr>
                                    <td>{$i.id}</td>
                                    <td>{$i.order_num}</td>
                                    <td>{$i.goods_name}</td>
                                    <td>{$i.cate_name}</td>
                                    <td>{$i.company_name}</td>
                                    <td>{$i.limit}</td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                    {$page}
                </div>
            </div>
        </div>
    </div>
</div>