<div class="layui-main f-banner">
    <div class="layui-row">
        <div class="layui-col-lg2">
            <div class="f-header-box">
                <img src="__ROOT__/static/images/user_header.png" alt="">
                <p>abczzz</p>
                <a href="javascript:;" style="text-decoration: underline;">修改头像</a>
            </div>
            <ul class="layui-nav layui-nav-tree f-nav-tree" lay-filter="test">
                <li class="layui-nav-item"><a href="{:url('mine/index')}">我的账户</a></li>
                <li class="layui-nav-item layui-this"><a href="{:url('mine/password')}">密码修改</a></li>
                <li class="layui-nav-item"><a href="{:url('mine/info')}">修改资料</a></li>
                <li class="layui-nav-item"><a href="{:url('mine/apply')}">申请理赔</a></li>
                <li class="layui-nav-item"><a href="{:url('mine/order')}">我的保单</a></li>
            </ul>
        </div>
        <div class="layui-col-lg10 f-slide-main">
            <div class="f-panel">
                <div class="f-panel-header">修改密码</div>
                <div class="f-panel-body">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">新密码:</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">旧密码:</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>