<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>网销管理系统</title>
    <link rel="stylesheet" href="__ROOT__/static/css/layui.css">
    <link rel="stylesheet" href="__ROOT__/static/css/main.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">网销管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="{:url('login/out')}">退出</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item"><a href="{:url('admin/index')}">保险种类管理</a></li>
                <li class="layui-nav-item"><a href="{:url('admin/target')}">网销对象管理</a></li>
                <li class="layui-nav-item"><a href="{:url('admin/staff')}">网销人员管理</a></li>
                <li class="layui-nav-item"><a href="{:url('admin/compete')}">网销竞争分析</a></li>
                <li class="layui-nav-item layui-this"><a href="{:url('admin/claims')}">网销理赔管理</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>保单号</th>
                    <th>投保人</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>AB00201001</td>
                    <td>黄大明</td>
                    <td>
                        <a href="" class="layui-btn">接受</a>
                        <a href="" class="layui-btn">拒绝</a>
                    </td>
                </tr>
                <tr>
                    <td>AB00201002</td>
                    <td>陈子洋</td>
                    <td>
                        <a href="" class="layui-btn">接受</a>
                        <a href="" class="layui-btn">拒绝</a>
                    </td>
                </tr>
                <tr>
                    <td>AB00201003</td>
                    <td>何军辉</td>
                    <td>
                        <a href="" class="layui-btn">接受</a>
                        <a href="" class="layui-btn">拒绝</a>
                    </td>
                </tr>
                <tr>
                    <td>AB00201004</td>
                    <td>赵子珊</td>
                    <td>
                        <a href="" class="layui-btn">接受</a>
                        <a href="" class="layui-btn">拒绝</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
    </div>
</div>
<script src="__ROOT__/static/js/jquery-3.2.1.min.js"></script>
<script src="__ROOT__/static/layui.all.js"></script>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
</body>
</html>