<div class="layui-main">
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>服务中心名称</th>
            <th>地址</th>
            <th>联系电话</th>
            <th>上班时间</th>
            <th>休息时间</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>平安保险服务中心</td>
            <td>广州白云</td>
            <td>020-84812345</td>
            <td>8:30-5:30</td>
            <td>周六日</td>
        </tr>
        <tr>
            <td>太平洋服务中心</td>
            <td>广州白云</td>
            <td>020-84812345</td>
            <td>8:30-5:30</td>
            <td>周六日</td>
        </tr>
        <tr>
            <td>中保服务中心</td>
            <td>广州白云</td>
            <td>020-84812345</td>
            <td>8:30-5:30</td>
            <td>周六日</td>
        </tr>
        <tr>
            <td>阳光保险服务中心</td>
            <td>广州白云</td>
            <td>020-84812345</td>
            <td>8:30-5:30</td>
            <td>周六日</td>
        </tr>
        </tbody>
    </table>
</div>
