<div class="layui-main">
    <table class="layui-table">
        <colgroup>
            <col width="150">
            <col width="200">
            <col>
        </colgroup>
        <thead>
        <tr>
            <th>时间</th>
            <th>内容</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>2018-01-06 12:43:12</td>
            <td>购买泰康全年综合意外医疗险成功</td>
        </tr>
        <tr>
            <td>2018-01-06 12:43:12</td>
            <td>购买境内自驾游保障成功</td>
        </tr>
        <tr>
            <td>2018-01-06 12:43:12</td>
            <td>新华重大疾病保障现在购买享受折扣</td>
        </tr>
        <tr>
            <td>2018-01-06 12:43:12</td>
            <td>平安e生保三百万医疗即将到期</td>
        </tr>
        </tbody>
    </table>
</div>
