<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">
    <title>新增公司</title>
</head>
<body>
    <div class="sidebar" id="sidebar">
        <div class="list-group">
            <a href="../company/"    class="list-group-item active">公司管理</a>
            <a href="../employee/"   class="list-group-item">人员管理</a>
            <a href="../place/"      class="list-group-item">地点管理</a>
            <a href="../type/"       class="list-group-item">保险管理</a>
            <a href="../contract/"   class="list-group-item">合同管理</a>
            <a href="../compensate/" class="list-group-item">理赔管理</a>
            <a href="../customer/"   class="list-group-item">对象管理</a>
            <a href="../compete/"    class="list-group-item">竞争分析</a>
            <a href="../release/"    class="list-group-item">网销发布</a>
            <a href="../down/"       class="list-group-item">网销下载</a>
            <a href="../backstage"   class="list-group-item">后台管理</a>
        </div>
    </div>
    <div class="main-content">
        <div class="panel panel-default">
            <div class="panel-heading">新增公司</div>
            <div class="panel-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3">公司名:</label>
                        <div class="col-sm-3">
                            <input type="email" class="form-control" id="" placeholder="名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3">公司种类:</label>
                        <div class="col-sm-3">
                            <select class="form-control">
                                <option>请选择种类</option>
                                <option value="1">财产保险</option>
                                <option value="2">人身保险</option>
                                <option value="3">责任保险</option>
                                <option value="4">信用保险</option>
                                <option value="5">保证保险</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3">地区:</label>
                        <div class="col-sm-3">
                            <select class="form-control">
                                <option>请选择地域</option>
                                <option value="1">华北</option>
                                <option value="2">华东</option>
                                <option value="3">东北</option>
                                <option value="4">华南</option>
                                <option value="5">华中</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3">上传logo:</label>
                        <div class="col-sm-9">
                            <a href="javascript:;" class="btn btn-warning">
                                <span class="glyphicon glyphicon-download-alt"></span> 点击上传
                            </a>
                            <span class="text-danger">请上传200x200的图片</span>
                            <div class="preview-box pull-right">
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="javascript:;" class="btn btn-success">保存</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/tmpl.min.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/main.js"></script>

    </script>
</body>
</html>