<div style="background-color: #f8f8fa;">
    <div class="layui-main">
        <div class="layui-row">
            <div class="layui-col-lg10">
                <div class="layui-row f-goods-box">
                    <div class="layui-col-lg5">
                        <div class="f-goods-pic">
                            <img src="//img30.360buyimg.com/baoxian/jfs/t9442/264/2431986242/68611/7563b293/59ce03bcNeaf6007a.jpg" alt="">
                        </div>
                    </div>
                    <div class="layui-col-lg7">
                        <div class="f-goods-info">
                            <h3>{$goods.name}</h3>
                            <p>{$goods.title_2}</p>
                            <div class="f-goods-tips">
                                <span class="f-goods-label">保额(元):</span>
                                <span class="f-goods-promt">{$goods.limit}</span>
                            </div>
                            <div class="f-goods-tips">
                                <span class="f-goods-label">费用(元):</span>
                                <span class="f-goods-promt">{$goods.amount}</span>
                            </div>
                        </div>
                        <a href="javascript:;" data-url="{:url('travel/buy', ['goods_id' => $goods.id])}" class="f-goods-buy">立即购买</a>
                    </div>
                </div>
            </div>
            <div class="layui-col-lg2">
                <div class="f-company-info">{$company_intro}</div>
            </div>
        </div>

    </div>
</div>
