<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title">4S店放证</span>
        <!---->
    </div>
    <table class="table table-bordered">
        <thead class="bg-default">
        <tr>
            <td>id</td>
            <td>4S店</td>
            <td>银行</td>
            <td>监管组</td>
            <td>审核状态</td>
            <td>接发车状态</td>
            <td class="td-operation">操作</td>
        </tr>
        </thead>
        <tbody>
        {if condition="(:count($receive) eq '0'"}
        <tr>
            <td colspan="7" class="text-center">没有待放证的车辆订单!</td>
        </tr>
        {else/}
        {foreach name="receive" item="i"}
        <tr>
            <td>{$i.id}</td>
            <td>{$i.shop_name}</td>
            <td>{$i.bank_name}</td>
            <td>{$i.regulatory_name}</td>
            <td>
                {switch name="$i.state"}
                {case value="0"}<span class="text-primary">待审核</span>{/case}
                {case value="1"}<span class="text-success">已审核</span>{/case}
                {case value="2"}<span class="text-danger">审核不通过</span>{/case}
                {default /}default
                {/switch}
            </td>
            <td>
                {switch name="$i.send_state"}
                {case value="0"}<span class="text-primary">未发车</span>{/case}
                {case value="1"}<span class="text-success">已发车</span>{/case}
                {case value="2"}<span class="text-danger">不通过</span>{/case}
                {case value="3"}<span class="text-success">已接车</span>{/case}
                {default /}default
                {/switch}
            </td>
            <td class="td-operation text-center">
                <a href="{:url('receive/receive', ['order_id' => $i['id']])}" class="btn btn-default">
                    <span class="fa fa-check-square-o"></span> 确认收证
                </a>
            </td>
        </tr>
        {/foreach}
        {/if}

        </tbody>
    </table>
</div>
{$page}