<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">
    <title>网销发布</title>
</head>
    <body>
    <div class="sidebar" id="sidebar">
        <div class="list-group">
            <a href="../company/"    class="list-group-item">公司管理</a>
            <a href="../employee/"   class="list-group-item">人员管理</a>
            <a href="../place/"      class="list-group-item">地点管理</a>
            <a href="../type/"       class="list-group-item">保险管理</a>
            <a href="../contract/"   class="list-group-item">合同管理</a>
            <a href="../compensate/" class="list-group-item">理赔管理</a>
            <a href="../customer/"   class="list-group-item">对象管理</a>
            <a href="../compete/"    class="list-group-item">竞争分析</a>
            <a href="../release/"    class="list-group-item active">网销发布</a>
            <a href="../down/"       class="list-group-item">网销下载</a>
            <a href="../backstage"   class="list-group-item">后台管理</a>
        </div>
    </div>
    <div class="main-content">
        <div class="panel panel-default">
            <div class="panel-heading">网销发布</div>
            <div class="panel-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3">名称:</label>
                        <div class="col-sm-3">
                            <input type="email" class="form-control" id="" placeholder="名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3">类型:</label>
                        <div class="col-sm-3">
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3">地区:</label>
                        <div class="col-sm-3">
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label col-sm-3">描述:</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="javascript:;" class="btn btn-success">发布</a>
                    </div>
                </form>

            </div>
        </div>

    </div>
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/tmpl.min.js"></script>
    <script src="../../js/main.js"></script>
</body>
</html>