<div class="layui-bg-green">
    <div class="layui-main f-banner">
        <div class="layui-row">
            <div class="layui-col-lg5">
                <div class="f-intro-box">
                    <span class="f-intro-title">健康</span>
                    <span class="f-intro-content">是对重大疾病、医疗造成的经济损失提供补偿，以帮助个人及家庭应对健康风险的产品。包括重大疾病大额赔付责任、医疗费用报销责任等</span>
                </div>
            </div>
            <div class="layui-col-lg7">
                <div class="layui-carousel f-carousel" id="">
                    <div carousel-item>
                        <div class="f-carousel-box clearfix">
                            <div class="f-carousel-box-left pull-left">
                                <h3>安心国内</h3>
                                <h4>意外身故、伤残</h4>
                                <p><i class="layui-icon">&#xe658;</i> 意外身故、伤残</p>
                            </div>
                            <div class="f-carousel-box-right layui-bg-gray pull-left">
                                <h2>美亚财产保险有限公司提供</h2>
                                <p class="f-prod-amount">￥<span>10.00</span>元起</p>
                                <a href="" class="layui-btn layui-btn-danger">立即购买</a>
                            </div>
                        </div>
                        <div class="f-carousel-box clearfix">
                            <div class="f-carousel-box-left pull-left">33</div>
                            <div class="f-carousel-box-right layui-bg-gray pull-left">44</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="layui-main f-main-box">
    <div class="layui-row">
        <div class="layui-col-lg8 f-main-left">
            <div class="f-prod-type-bar">
                <span>类型:</span>
                <a href="javascript:;" class="active">全部</a>
            </div>
            <table class="layui-table" lay-skin="line">
                <tbody>
                <tr>
                    <td>
                        <div class="f-prod-info-box">
                            <h3><a href="">泰康全年综合意外医疗险</a></h3>
                            <p>意外身故、伤残</p>
                        </div>
                    </td>
                    <td>30万元</td>
                    <td class="text-center">
                        <div class="layui-bg-gray f-prod-amount-box">
                            <p class="f-prod-amount">￥<span>10.00</span>元起</p>
                            <a href="" class="layui-btn layui-btn-danger">立即购买</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="f-prod-info-box">
                            <h3><a href="">泰康全年综合意外医疗险</a></h3>
                            <p>意外身故、伤残</p>
                        </div>
                    </td>
                    <td>30万元</td>
                    <td class="text-center">
                        <div class="layui-bg-gray f-prod-amount-box">
                            <p class="f-prod-amount">￥<span>10.00</span>元起</p>
                            <a href="" class="layui-btn layui-btn-danger">立即购买</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="layui-col-lg4 f-main-right">
            <h3 class="f-main-right-title">购买流程</h3>
            <ul class="layui-timeline">
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <div class="layui-timeline-title">下单购买</div>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <div class="layui-timeline-title">生成订单</div>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content layui-text">
                        <div class="layui-timeline-title">购买成功</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>