<div style="background-color: #f8f8fa;">
    <div class="layui-main">
        <div class="layui-row">
            <div class="layui-col-lg10">
                <div class="layui-row f-goods-box">
                    <div class="layui-col-lg5">
                        <div class="f-goods-pic">
                            <img src="//img30.360buyimg.com/baoxian/jfs/t9442/264/2431986242/68611/7563b293/59ce03bcNeaf6007a.jpg" alt="">
                        </div>
                    </div>
                    <div class="layui-col-lg7">
                        <div class="f-goods-info">
                            <h3>“月月领”终身年金</h3>
                            <p>交钱一阵子，领钱一辈子</p>
                            <div class="f-goods-tips">
                                <span class="f-goods-label">保额(元):</span>
                                <span class="f-goods-promt">100000</span>
                            </div>
                            <div class="f-goods-tips">
                                <span class="f-goods-label">费用(元):</span>
                                <span class="f-goods-promt">55.00</span>
                            </div>
                        </div>
                        <a href="" class="f-goods-buy">立即购买</a>
                    </div>
                </div>
            </div>
            <div class="layui-col-lg2">
                <div class="f-company-info">国华人寿保险股份有限公司成立于2007年11月，总部位于上海，是由中国保险监督管理委员会批准设立的全国性、股份制专业寿险公司。国华人寿坚持科学发展观，科学把握寿险经营规律，寻求差异化发展路径，坚持财富管理与风险保障并举，在保险行业率先探索互联网保险发展，目前，公司已开设北京、山东、浙江、河南、广东、上海、河北、江苏、天津、湖北、辽宁、重庆、四川、山西、湖南、青岛、安徽、深圳等18家省级分公司，在上海、广州成立了全国性的电话销售中心和客户联络中心。 国华人寿秉承信任、责任、精益、价值四个核心价值观，以让每个家庭拥有保障和幸福为使命，致力于成为最能为客户、员工、股东、社会创造价值的保险公司。</div>
            </div>
        </div>

    </div>
</div>
