<div class="panel panel-default">
    <div class="panel-heading text-right">
        <span class="pull-left panel-title">用户管理</span>
        <a href="{:url('user/add')}" class="btn btn-default">
            <span class="fa fa-plus-square"></span> 添加
        </a>
    </div>
    <table class="table table-bordered">
        <thead class="bg-default">
        <tr>
            <td>id</td>
            <td>用户类型</td>
            <td>登录名</td>
            <td>用户名</td>
            <td>电话</td>
            <td class="td-operation">操作</td>
        </tr>
        </thead>
        <tbody>
        {foreach name="user" item="i"}
        <tr class="tr-content" data-id="{$i.id}">
            <td>{$i.id}</td>
            <td>
                {switch name="$i.type"}
                {case value="0"}超级管理员{/case}
                {case value="1"}银行审批员{/case}
                {case value="2"}4S店管理员{/case}
                {default /}default
                {/switch}
            </td>
            <td>{$i.login_name}</td>
            <td>{$i.user_name}</td>
            <td>{$i.phone}</td>
            <td class="text-center td-operation">
                <a href="javascript:;" data-id="{$i.id}" data-url="{:url('user/delete')}" class="btn btn-default btn-delete">
                    <span class="fa fa-trash-o"></span> 删除
                </a>
                <a href="{:url('user/edit', ['id' => $i['id']])}" class="btn btn-default">
                    <span class="fa fa-pencil"></span> 修改
                </a>
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
{$page}